const domain = 'local.crust.tech'

window.CrustConfig = {
  system: {
    baseUrl: `http://system.api.${domain}`,
  },

  messaging: {
    baseUrl: `http://messaging.api.${domain}`,
  },

  crm: {
    baseUrl: `http://crm.api.${domain}`,
  },

  webapp: {
    baseUrl: `http://${domain}`,
    auth: {
      adtSignOutUrl: `http://satosa.didmos.${domain}/didmos/logout/`,
    },
  },
}
