ME_CONFIG_MONGODB_ADMINUSERNAME=change-me
ME_CONFIG_MONGODB_ADMINPASSWORD=change-me
ME_CONFIG_MONGODB_SERVER=didmos-mongo

ME_CONFIG_BASICAUTH_USERNAME=change-me
ME_CONFIG_BASICAUTH_PASSWORD=change-me
