# service config
MESSAGING_HTTP_ADDR=:80
MESSAGING_HTTP_PRETTY_JSON=1
MESSAGING_HTTP_ERROR_TRACING=1
MESSAGING_DB_DSN=crust:crust@tcp(crust-db:3306)/crust?collation=utf8mb4_general_ci
MESSAGING_DB_PROFILER=stdout
