METRICS=1
METRICS_PASSWORD=metrics

AUTH_JWT_SECRET=<generate new jwt secret>

RBAC_AUTH=tenant:password
RBAC_TENANT=tenant
RBAC_BASE_URL=https://crust.example.org/pdp/

SMTP_HOST=smtp.example.tld:25
SMTP_USER=postmaster@....
SMTP_PASS=<password>
SMTP_FROM="Name" <info@example.tld>

SUBSCRIPTION_KEY=E7ox7cDMmBzsFS15Ub43KKdbBg6gqOYiUhK3nRN0BlpNzt88mHLycahhVfrJCccc
SUBSCRIPTION_DOMAIN=local.crust.tech
