SATOSA_EXTERNALLDAP_ACTIVE=No
SATOSA_EXTERNALLDAP_BINDDN=cn=manager,dc=pdp,dc=didmos,dc=de
SATOSA_EXTERNALLDAP_BINDPWD=change-me
SATOSA_EXTERNALLDAP_IDATTRIBUTE=uid
SATOSA_EXTERNALLDAP_LDAPURL=ldaps://example.org:636
SATOSA_EXTERNALLDAP_SEARCHATTRIBUTE=cn
SATOSA_EXTERNALLDAP_SEARCHBASE=ou=people,ou=testing,dc=pdp,dc=didmos,dc=de

SATOSA_FACEBOOK_ACTIVE=No
SATOSA_FACEBOOK_CLIENT_ID=
SATOSA_FACEBOOK_CLIENT_SECRET=

SATOSA_GITHUB_ACTIVE=No
SATOSA_GITHUB_CLIENT_ID=
SATOSA_GITHUB_CLIENT_SECRET=

SATOSA_GOOGLE_ACTIVE=No
SATOSA_GOOGLE_CLIENT_ID=
SATOSA_GOOGLE_CLIENT_SECRET=

SATOSA_INTERNALLDAP_BIND_DN=uid=satosa,ou=accounts,ou=DSA,dc=didmos,dc=de
SATOSA_INTERNALLDAP_BIND_PASSWORD=change-me
SATOSA_INTERNALLDAP_CREATE_BASE=ou=social-people,ou=data,ou=default-tenant,dc=didmos,dc=de
SATOSA_INTERNALLDAP_SEARCH_BASE=ou=data,ou=default-tenant,dc=didmos,dc=de
SATOSA_INTERNALLDAP_URL=ldap://didmos-ldap:389

SATOSA_LDAP_ACTIVE=Yes

SATOSA_LINKEDIN_ACTIVE=No
SATOSA_LINKEDIN_CLIENT_ID=
SATOSA_LINKEDIN_CLIENT_SECRET=

SATOSA_MFA_PI_CHALLENGE_TOKENTYPES=email,sms
SATOSA_MFA_PI_PASSWORD=change-me
SATOSA_MFA_PI_URL=https://privacyidea.example.org
SATOSA_MFA_PI_USERNAME=admin
SATOSA_MFA_PRIVACYIDEA_ACTIVE=No

SATOSA_MONGODB_DATABASE=satosa
SATOSA_MONGODB_HOST=didmos-mongo
SATOSA_MONGODB_PASSWORD=change-me
SATOSA_MONGODB_PORT=27017
SATOSA_MONGODB_USERNAME=satosa

SATOSA_OIDC_DYNAMIC_REGISTRATION=Yes

SATOSA_SAML2_ACTIVE=No
SATOSA_SAML2_EXTERNAL_IDENTIFIERS=eduPersonPrincipalName
SATOSA_SAML2_METADATA=https://example.org/saml
SATOSA_SAML2_METADATA_SIGNED=No
SATOSA_SAML2_WAYF_ACTIVE=No
SATOSA_SAML2_WAYF_URL=https://example.org/discovery

SATOSA_SSO_ENCRYPTION_KEY=change-me
SATOSA_STATE_ENCRYPTION_KEY=change-me
