METRICS=1
METRICS_PASSWORD=metrics

AUTH_JWT_SECRET=<generate new jwt secret>

SMTP_HOST=smtp.example.tld:25
SMTP_USER=postmaster@....
SMTP_PASS=<password>
SMTP_FROM="Name" <info@example.tld>

# system config

SYSTEM_HTTP_ADDR=:80
SYSTEM_HTTP_PRETTY_JSON=1
SYSTEM_HTTP_ERROR_TRACING=1
SYSTEM_DB_DSN=crust:crust@tcp(crust-db:3306)/crust?collation=utf8mb4_general_ci
SYSTEM_DB_PROFILER=stdout

# messaging config

MESSAGING_HTTP_ADDR=:80
MESSAGING_HTTP_PRETTY_JSON=1
MESSAGING_HTTP_ERROR_TRACING=1
MESSAGING_DB_DSN=crust:crust@tcp(crust-db:3306)/crust?collation=utf8mb4_general_ci
MESSAGING_DB_PROFILER=stdout

